.boxContainerBody{
    background: white;
    position: relative;
    border: 0;
    border-radius: 5px;
}
.boxContainer{
    border: 0;
}
.profileBoxContainer{
    position: relative;
}
.menuLinks{
    background: white;
}
.dataEntryChildren {
    color: #979797;
}
:global(.vtex-account) {
    padding: 0 100px;
    position: relative;
}
:global(.vtex-account) :global(.vtex-button ){
    background: #27AFE5;
    border: 0;
    transition: 400ms all;
}
:global(.vtex-pageHeader-link__container) :global(.vtex-button ){
    background: transparent !important;
    border: 0;
    transition: 400ms all;
    text-transform: capitalize;
    color:#27AFE5;
}
:global(.vtex-account) :global(.vtex-button ):hover{
    background: #1B7BA1;
    border: 0;
}
:global(.vtex-button__label ){
    text-transform: capitalize;
}
.boxContainerFooter{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.boxContainerFooter :global(.vtex-button__label){
    color: #27AFE5;
    text-transform: capitalize;
}
.boxContainerFooter :global(.vtex-button){
    background: transparent;
}
:global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button){
    background: transparent;
}
:global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button__label){
    color: #27AFE5;
}
:global(.vtex-pageHeader__title ){
    color: #27AFE5;
}
:global(.vtex-account__page ){
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    width: 100%;
}
.menu {
    width: 28%;
}
@media (max-width: 600px) {
    :global(.vtex-account__page ){
        border: 0;
        border-radius: 10px;
        width: 100%;
    }
    :global(.vtex-account) {
        padding: 0 10px;
        padding-top: 205px;
    }

}