.confirmationIconWrapper {
    display: none;
}
.section--notices {
    display: none;
}
.section--bank-invoice {
    display: none;
}
.orderOptionsWrapper {
    display: none;
}
.productList {
    display:none;
}
.orderSoldBy {
    display: none;
}
.section--paymentMethods {
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 20px;
    border: 0;
}
.confirmationTitle {
    font-size: 30px;
    font-weight: bold;
    color: #27AFE5;
    text-transform: uppercase;
}
.package--delivery {
    margin: 0;
}
.section--productList .productList {
    display: block;
    width: 100%;
}
.section--productList .packageHeaderColumn{
    display: none;
}
.section--productList {
    margin: 30px 0;
    border: 0;
}
.customerInfoListContainer::before{
    content: "Datos";
    color: #27AFE5;
    font-size: 20px;
}
.packageDeliveryTitle{
    color: #27AFE5;
    font-size: 20px;
}
.orderPaymentItem::before{
    content: "Pago";
    color: #27AFE5;
    font-size: 20px;
}
.orderPaymentItem :global(.vtex-button){
    background: #27AFE5;
    border: 0x;
}
.orderPaymentItem :global(.vtex-button):hover{
    background: #27AFE5;
}
.cancelOrderButton {
    display: none;
}
:global(.vtex-my-orders-app-3-x-cancelBtn) {
    display: none;
}
:global(.vtex-my-orders-app-3-x-orderProductShipping) {
    display: none;
}